
/* -------  General Styles ------- */

body {
  margin: 0;
}

header {
  background-color: #112E40;
  margin-bottom: 50px;
}

.logo {
  font-family: "copperplate", 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 72px;
  color: #cbd5dd;
  text-align: center;
  letter-spacing: -50;
  margin: 0;
  padding: 20px 0 0 0;
}

/* ---  Navigation --- */

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }
  
  header nav ul li {
    padding-top: 10px;
    list-style-type: none;
  }
  
  header nav ul li a {
    color: #cbd5dd;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: 'copperplate';
    font-size: 20px;
    margin-top: 20px;
  }
  
  header nav ul li a:hover {
    color: #b1ebd2;
  }
  
  @media all and (min-width: 700px) {
    header {
      display: flex;
      justify-content: space-between;
    }
  
    .logo {
      margin: 12px 0 12px 22px;
      padding-top: 10px;
      padding-left: 10px;
      font-size: 50px;
    }
    
    header nav {
      margin-top: 20px;
    }
  }


/* ---  Primary Groups --- */


main {
  background-color: #bee8ee;
  padding: 20px 0;
}

section {
  margin-top: 20px;
  margin-bottom: 60px;
}

section.darker-background {   
  background-color: #aedada;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 60px 0;
}

footer {
  background-color: #112E40;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* ---  Typography --- */

h1 {
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  color: #193039;
  text-align: center;  
}

h2 {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  color: #193039;
  text-align: center;
  padding-left: 10px;
}

h3 {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  color: #31364d;
  margin-top: -10px;
}

h4 {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #31364d;
  padding-left: 20px;
}

p {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 line-height: 1.5em;
 margin-top: 20px;
 margin-bottom: 10px;
 padding-left: 20px;
 
}

ul {
line-height: 1em;
font-style: none;
}

li {
font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 1.5em;
margin-top: 10px;
margin-bottom: 10px;
padding-left: 20px;
}

main a {
	font-weight: 700;
	text-decoration: none;	
}

main  a:link { color: #38786a; }
main  a:visited { color: #38786a; }
main  a:hover { color: #1b2e47; }
a:active { color: #1b2e47; }


footer p {
  color: #ACB9C3;
  text-align: center;
  padding: 40px;
}

main img {
  width: 100%;
}

img.image-enhanced1 {
  padding-bottom: -40px;
  border-radius: 20px;
}
img.image-enhanced2 {
  margin-top: 60px;
  margin-left: 50px;
  border-radius: 20px;
}
img.image-enhanced3 {
  border-radius: 20px;
  margin-top: 35px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  }

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 20px;
}

.item-double {
  flex: 2;
}



/* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
}


/* --- Contact Form Design --- */

form {
  padding-right: 40px;
  width: 100%;
}

form label {
  display: block;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
}

form textarea {
  height: 350px;
}





